aniso8601==9.0.1
asgiref
Brotli 
certifi
charset-normalizer 
Django
django-cors-headers
django-rest-auth
django-rest-authtoken
djangorestframework
graphene
graphql-core
graphql-relay
idna
promise
psycopg2
PySocks
requests
setuptools
six
sqlparse
stripe
text-unidecode
typing_extensions
urllib3
wheel
